.category-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   row-gap: 50px;
   column-gap: 20px;
}

.category-title {
   text-align: center;
   font-size: 35px;
   margin-bottom: 25px;
   text-transform: uppercase;
}